/* Importing Google font - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}


body {
  height: 100vh;
  width: 100%;
  background: white;
  overflow-x: hidden;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 2px 8px rgb(200, 203, 204);
    background-color: #fff;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1800px;
    margin: 0 ;
    padding: 10px 
  }
  
  .navbar .logo a {
    font-size: 1.rem;
    text-decoration: none;
    color: black;
    margin-left: -40px;
    font-weight: bold;
    margin-bottom: 100px;
  }
  
  .navbar .links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
    margin-left: 550px;
  }
  
  .navbar .links a {
    font-weight: 600;
    font-size: larger;
    text-decoration: none;
    color: black;
    padding: 10px 0;
    transition: 0.2s ease;
  }
  
  .navbar .links a:hover {
    color: #47b2e4;
  }

.main-body {
    padding: 15px;
}

.nav-link {
    color: #4a5568;
}
.separator{
  border-top: 3px solid #2c2b2b;  
  width: 100%;
}
.nav-tabs{
    display: flex;
    flex-direction: column;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    
}
.nav{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    
}
.nav a{
    font-size: 1.9rem;
    background-color: #1d7383;
    color: #fff;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
    text-decoration: none;
    padding: 10px 12px 9px 17px;
    box-shadow: 2px 3px #000000d3;
   
}
.nav a:hover{
  color: #dedddd;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

